@import "variables";

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/scss/font-awesome.scss";
//@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html, body {
  background-color: $body-bg;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import "dashboard";
@import "table-component";

.margin-top-15 { margin-top: 15px; }