<div class="container dashboard">
    <div class="row">
        <div class="col-sm-12">
            <header>
                <h3>Guests <span>Dashboard</span></h3>
                <button class="btn btn-secondary">
                    <i class="fa fa-refresh"></i>
                    Refresh all
                </button>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <visitors-table></visitors-table>
        </div>
        <div class="col-md-6">
            <reservations-table></reservations-table>
        </div>
    </div>
</div>

